/*
Author: Sonia Anton Llanes
Created on: 29-septiembre-2020
Last modification: 11-octubre-2020
CSS Index General Segundo Curso del Módulo Desarrollo de Aplicaciones Web
*/


* { box-sizing: border-box; margin:0px; padding:0px;}
ul, ol {list-style: none; }
a{text-decoration: none; color:#000; }
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* Tamaño y Posicion de los Elementos con Grid */
.container{
    height: 100vh;
    display: grid;
    grid-template-rows: 15% 75% 10%;
    grid-template-columns:1% 12% 4% auto 1%;
    grid-template-areas:
        "header header header header header"
        ". menu . main ."
        ". footer footer footer .";
}

.header{
    grid-area: header;
}
.menu{
    grid-area: menu;
    justify-self: center;
}
.himg{
    width: 30%;
}
.main{
    grid-area: main;
    place-self: center;
}
.footer{
    grid-area: footer;
}


/* Tamaño y Posicion dentro del elemento*/
.menu ul li{
    display: block;
    height: 10vh;
    width: 100%;
}
.ref{
    width: 100%;
}
img{
    width: 30%;
}
.main section article a{
    width: 100%;
}
.fnav ul li{
    display: inline-block; 
    width: 45%;
}
.fnav li img{
    height: 10vh;
    width: auto;
}

/* Border, margin y padding */
.menu li{
    border-bottom: 2px solid #BF2411;
    border-right: 2px solid #BF2411;
    margin: 5%;
    padding: 5%;
}
.foto{
    border: 5px solid #d65665;
    padding: 1%;
    margin-right: 1%;
    float: left;
}
article{
    margin: 1% 3% 1% 3%;
    padding: 1% 2% 1% 2%;
}
.article{
    border-bottom: 2px solid #BF2411;
}
.footer{
    border-top: 2px solid #BF2411;
}


/* Estilo background */
.header{
    background-image: url("../images/fondo_header.jpg");
    background-size: 100%;
    height: 100%;
}
.active{
    background: linear-gradient(90deg, #BF2411, white);
}

/* Estilo del texto */
.h1{
    text-align: center;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
}
h2{
    color: #bb1212;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: bolder;
}
h3{
    font-family: 'Secular One', sans-serif;
    font-size: 20px;
}
.menu{
    width: 100%;
}
.menu li{
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
article{
    font-family: 'Courgette', cursive;
    font-size: 20px;
}
.footer{
    text-align: center;
}
.fnav ul li{
    vertical-align: middle;
}
.ftexto{
    font-size: 20px;
    font-weight: bolder;
}


/* Hover */
.menu li:hover{
    width: 100%;
    border-bottom: 1px solid #BF2411;
    border-left: 1px solid #BF2411;
    background-color: #BF2411;
    color: white;
}
.menu li a:hover{
    width: 100%;
    border-bottom: 1px solid #BF2411;
    border-left: 1px solid #BF2411;
    background-color: #BF2411;
    color: white;
}
article:hover{
    background: linear-gradient(90deg, #BF2411, white);
}


